html,
body {
  font-family: Arial;
  height: 100%;
  font-size: 12pt;
}

/* .navbar {
  background-color: ##c0cdd1 !important;
} */

.navbar .navbar-brand {
  color: #ff6a3c !important;
}
.text-color {
  padding-top: 20px;
  padding-right: 40px;
  color: #ff6a3c !important;
  height:80px;
  font-size: 24pt;
}

/* .navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #ffbbbc !important;
}

.navbar .navbar-text {
  color: #ecf0f1 !important;
} */

/* .footer {
  height: 50px;
  background-color: ##c0cdd1;
  position: bottom;
}

.footer-copyright {
  font-size: 15pt;
  text-align: center;
  color: #ecf0f1 !important;
}

.footer .footer-copyright:hover,
.footer .footer-copyright:focus {
  color: #ffbbbc !important;
} */

svg {
    font: 12px sans-serif;
}

text {
    pointer-events: none;
}

.inner_node rect {
    stroke: #FFFFFF;
    stroke-width: 1px;
    pointer-events: all;
}

.inner_node rect.highlight {
    fill: #315B7E;
}

.outer_node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
    pointer-events: all;
}

.outer_node circle.highlight
{
    stroke: #315B7E;
    fill: #5c7fad;
    stroke-width: 2px;
}

.link {
    fill: none;
}


.slider-selection {
	background: #ef3b2c !important;
}

.slider-handle {
	background: #cb181d !important;
}
.slider-tick.in-selection{
  background: #cb181d !important;
}
 .slider.slider-horizontal{
   width:1000px !important;
 }
.slider .tooltip{
  padding:2px;
}
.slider .tooltip-inner{
  font-size: 18px;
  opacity: 1;
  background: #cb181d !important;
}

.tooltip.top .tooltip-arrow {
   border-top-color: #f44336 !important;

}
