html,
body {
  font-family: Arial;
  height: 100%;
  font-size: 12pt;
}

/* .navbar {
  background-color: ##c0cdd1 !important;
} */

.navbar .navbar-brand {
  color: #ff6a3c !important;
}
.text-color {
  padding-top: 20px;
  padding-right: 40px;
  color: #ff6a3c !important;
  height:80px;
  font-size: 24pt;
}
